<div id="hero-div">#Discover Scandinavia



  <div id="textDiv">

    <h1 class="mainHeader">We will make your vacation unforgettable</h1>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="rounded-circle"><i class='fas fa-hotel'></i></div>
        <h1>Accommodation</h1>
        <p>We offer the finest selectiopn of hotels everywhere</p>


      </div>
      <div class="col-sm-6 col-md-3">
        <div class="rounded-circle"><i class='fas fa-plane'></i></div>
        <h1>Transportation</h1>
        <p>Whether you want to travel by train plane or ship we will set it up for you</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="rounded-circle"><i class='fas fa-users'></i></div>
        <h1>Seasond Agents</h1>
        <p>Combined, the experience that our agents have is centuries</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="rounded-circle"><i class='fas fa-star'></i></div>
        <h1>Easy trip planing</h1>
        <p>Our travel agents are always ready to plan your perfect trip </p></div>
    </div>

    <a class="btn btn-light" routerLink="/travel">Learn more</a>






  </div>

</div>
<div class="mainDiv">
  <h1>Our special offers</h1>
  <div class="row">

    <div class="col-sm-10 col-md-4" id="cont1">
      <div class="price"><p>$200 /Person</p></div>
      <div class="country"> <p>Göteburg - Sweden</p></div>


    </div>
    <div class="col-sm-10 col-md-4" id="cont2">
      <div class="price"><p>$120 /Person</p></div>
      <div class="country"><p> Ásólfsskáli - Iceland</p></div>

    </div>
    <div class="col-sm-10 col-md-4" id="cont3">
      <div class="price"><p>$300 /Person</p></div>
      <div class="country"><p> Bergen - Norway</p></div>
    </div>
    <div class="col-sm-10 col-md-4" id="cont4">
      <div class="price"><p>$450 /Person</p></div>
      <div class="country"><p> Helsinki - Finnland</p></div>

    </div>

  </div>


</div>

